/* * {
  background-color: #b4f2e1;
  box-sizing: border-box;
  margin: 0;
  padding: 0px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
} */

.center {
  text-align: center;
  justify-content: center;
}
.img_div {
  display: flex;
  justify-content: center;
}
/* .img_div img {
  width: 200px;
  height: 150px;
} */
